
logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.springframework.security.oauth2: INFO
#    org.springframework.boot.autoconfigure: DEBUG

spring:
  datasource:
    url: ${dbHost}
    username: ${dbUsername}
    password: ${dbPassword}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${emailUsername}
    password: ${password}
    properties:
      mail:
        smtp:
          auth: true
          debug: true
          starttls:
            enable: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update


baseUrl: ${baseUrl}
server:
  error:
    whitelabel:
      enabled: false
