<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <img th:src="@{/assets/cmd.svg}" class="cmd_logo" />
            <form class="content" action="" method="post" id="form">
                <div class="text_field" id="email_section">
                    <input placeholder="Email address" name="username" type="email" />
                </div>
                <div class="text_field" id="password_section">
                    <input placeholder="Password" name="password" type="password" id="password" />
                    <button class="toggle_icon"><img th:src="@{/assets/password_show.svg}" /></button>
                </div>
                <div class="link_section">
                    <p class="error_text"></p>
                    <a class="link" href="/forgotPassword">Forgot Password?</a>
                </div>
                <button type="submit">Sign in</button>
                <div class="or_container">
                    <div style="flex: 1;"></div>
                    <div class="dash"></div>
                    <p>OR</p>
                    <div class="dash"></div>
                    <div style="flex: 1;"></div>
                </div>
                <div class="methods">
                    <a class="icon" href="/oauth2/authorization/google-idp">
                        <img th:src="@{/assets/google.svg}" />
                    </a>
                    <a class="icon" href="/oauth2/authorization/github-idp">
                        <img th:src="@{/assets/github.svg}" />
                    </a>
                  </div>
            </form>
            <div class="more_options">
                <p>New To CMD? <a href="/signup" class="link">Create an Account</a></p>
                <a href="/signup" class="link">Skip to Home</a>
            </div>
        </div>
        <div class="bottom_section">
            <div class="bottom_section_item">
                <a href="#">English(UK)</a>
                <a href="#">English(US)</a>
                <a href="#">Francais</a>
                <a href="#">Espanol</a>
            </div>
            <div class="bottom_section_item">
                <a href="#">About</a>
                <a href="#">Privacy</a>
                <a href="#">Cookie</a>
                <a href="#">Terms</a>
            </div>
        </div>
    </div>  
    <script th:src="@{/js/login.js}"></script>
</body>
</html>