<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <form class="content" th:action="@{/forgotPassword}" method="post" id="form">
                <p class="recovery_email_text">Forgot your account’s password? Enter your email address and a recovery link would be sent to you.</p>
                <div class="text_field" id="email_section">
                    <input placeholder="Email address" type="email" name="email"/>
                    <p class="info_text"  th:if="${error}">
                            <img th:src="@{/assets/error_icon.svg}"/>
                            No Account is linked to this email.</p>
                </div>

                <button type="submit">Send recovery email</button>
                
            </form>
        </div>
        <div class="bottom_section">
            <div class="bottom_section_item">
                <a href="#">English(UK)</a>
                <a href="#">English(US)</a>
                <a href="#">Francais</a>
                <a href="#">Espanol</a>
            </div>
            <div class="bottom_section_item">
                <a href="#">About</a>
                <a href="#">Privacy</a>
                <a href="#">Cookie</a>
                <a href="#">Terms</a>
            </div>
        </div>
    </div>  
</body>
</html>