<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" th:href="@{/styles/sign-up.css}" />
</head>

<body>
    <div class="container">
        <div class="sign_up_container">
            <div class="left_section">
                <img th:src="@{/assets/cmd.svg}" />
                <p>A space to share knowledge, ask questions and
                    better understand tech.</p>
            </div>
            <div class="right_section">
                <form class="content" action="" method="post" id="form" th:action="@{/signup}" th:object="${user}" >
                    <div class="text_field" id="first_name_section">
                        <input placeholder="First name" th:field="*{firstName}" required type="text" />
                    </div>
                    <div class="text_field" id="last_name_section">
                        <input placeholder="Last name" th:field="*{lastName}" required type="text" />
                    </div>

                    <div class="text_field" id="email_section">
                        <input id="email" th:field="*{username}" placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                               required type="email" />
                        <p class="info_text info_text_error"  th:if="${email_exists}">
                            <img th:src="@{/assets/error_icon.svg}"/>
                            Account with email already exists.</p>
                    </div>
                    <div class="text_field" id="password_section">
                        <input placeholder="Password"  th:field="*{password}" type="password" id="password" />
                        <button type="button" id="toggle" class="toggle_icon"><img th:src="@{/assets/password_show.svg}" /></button>
                    </div>
                    <p class="info_text" th:classappend="${errors} ? info_text_error : clear">
                        <img th:src="@{/assets/error_icon.svg}" th:if="${errors}"/>
                        Passwords must contain at least eight characters, including at
                        least one letter, one number and one special character</p>
                    <button type="submit">Sign Up</button>
                    <p class="conditions"> By clicking “Sign Up”, you agree to our <a>Terms, Privacy Policy</a> and
                        <a>Cookie Policy</a>.
                    </p>

                </form>
                <div class="more_options">
                    <p>Already have an Account? <a href="https://cmd-app.netlify.app/validate" class="link">Sign in</a></p>
                    <a href="#" class="link">Skip to Home</a>
                </div>
                <div style="padding: 10px;"></div>
            </div>
            <div class="bottom_section">
                <div class="bottom_section_item">
                    <a href="#">English(UK)</a>
                    <a href="#">English(US)</a>
                    <a href="#">Francais</a>
                    <a href="#">Espanol</a>
                </div>
                <div class="bottom_section_item">
                    <a href="#">About</a>
                    <a href="#">Privacy</a>
                    <a href="#">Cookie</a>
                    <a href="#">Terms</a>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/sign-up.js}"></script>
</body>

</html>